<div class="content">
    <h2>A really simple exemple</h2>

    <h3>CSSGrid</h3>
    <div class="grid-area">
        <div class="grey">
            <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat aut aperiam totam obcaecati expedita, iste dolorum consequuntur cum qui ad suscipit minima enim? Nemo ad in magnam. Voluptatem, accusamus sunt?</span><br>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam pariatur suscipit hic porro praesentium error dolores! Eos, laboriosam enim laborum, illo incidunt iusto fugiat id explicabo officiis sunt numquam alias.</span>
        </div>

        <div class="blue"></div>

        <div class="blue"></div>

        <div class="grey">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores nisi similique qui, et fugiat blanditiis laboriosam ea, repudiandae dolores nam, explicabo rerum quam culpa magnam. Sunt alias velit dolor est.</div>
    </div>

    <hr>

    <h3>Flexbox</h3>
    <div class="flex-area">
        <div class="grey">
            <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat aut aperiam totam obcaecati expedita, iste dolorum consequuntur cum qui ad suscipit minima enim? Nemo ad in magnam. Voluptatem, accusamus sunt?</span><br>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam pariatur suscipit hic porro praesentium error dolores! Eos, laboriosam enim laborum, illo incidunt iusto fugiat id explicabo officiis sunt numquam alias.</span>
        </div>

        <div class="blue"></div>

        <div class="blue"></div>

        <div class="grey">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores nisi similique qui, et fugiat blanditiis laboriosam ea, repudiandae dolores nam, explicabo rerum quam culpa magnam. Sunt alias velit dolor est.</div>
    </div>
</div>