<!-- You think style in the code is dirty ? Not so much, take a look at the DOM ;) -->
<style>
markdown.content {
        font-size: 1.5rem;
        font-weight: bold;
}
</style>
<markdown class="content" ngPreserveWhitespaces>
        ## Conclusion
        ---

        1. Full browser support [can I use](https://caniuse.com/#feat=css-grid).
        1. A lot of goodies (Functions like auto, [minmax](https://developer.mozilla.org/fr/docs/Web/CSS/minmax), [fit-content](https://developer.mozilla.org/fr/docs/Web/CSS/fit-content), [repeat](https://developer.mozilla.org/fr/docs/Web/CSS/repeat), etc).
        1. Many positioning mechanismes.

        ### Links and resources
        1. MDN MDN [MDN](https://developer.mozilla.org/fr/docs/Web/CSS/CSS_Grid_Layout) !
        1. [Jen Simmons youtube channel](https://www.youtube.com/layoutland).
        1. [CSS Grid is awesome](https://labs.jensimmons.com/)

</markdown>