.navbar-brand {
    h1.navbar-item {
        font-weight: bold;

        img {
            margin: 0 .5em;
            // Litle hack since my flexbox and cssgrid icons are not squares
            max-width: 1.75rem; // Bulma is max-height 1.75 rem
        }
    }
}