<div class="panel-with-details">
    <div class="content">
        <h2>Grid fixed with areas</h2>

        <div class="grid-fixed-area boat-container">
            <div class="sail left"></div>
            <div class="mast color-brown"></div>
            <div class="sail right"></div>

            <div class="hull left"></div>
            <div class="hull"></div>
            <div class="hull"></div>
            <div class="hull"></div>
            <div class="hull right"></div>
        </div>
    </div>

    <markdown class="content" ngPreserveWhitespaces>
        **Areas give an awesome separation<br> between content and representation**

        ```css
        .grid-with-area {{ '{' }}
            display: grid;
            grid-template:
                400px 150px /
                150px 300px 16px 300px 150px;
            grid-template-areas:
            '.. sail-left mast sail-right ..'
            'hull-left hull hull hull hull-right';

            .mast {{ '{' }}
                grid-area: mast;
            }
        }
        ```
    </markdown>
</div>
