<div class="content">
    <h2>Grid auto</h2>

    <div class="grid-auto boat-container">
        <div></div>
        <div class="sail left"></div>
        <div class="mast color-brown"></div>
        <div class="sail right"></div>
        <div></div>

        <div class="hull left"></div>
        <div class="hull"></div>
        <div class="hull"></div>
        <div class="hull"></div>
        <div class="hull right"></div>
    </div>
</div>
<markdown class="content" ngPreserveWhitespaces>
    **As simple as**

    ```css
    .grid-auto {{ '{' }}
        display: grid;
        grid-template-columns: auto 1fr auto 1fr auto;
    }
    ```
</markdown>