@import './boat.scss';

.panel-with-details {

    display: grid;
    grid-template-columns: minmax(916px, 1fr) minmax(300px, auto);

    >.content {
        display: flex;
        flex-direction: column;

        >.boat-container {
            align-self: center;
        }
    }

}