@import '../../../styles/variables';
@import '../../../styles/mixins';


// Align items with css grid
.grid-fixed.boat-container {
    // define some sizez
    width: 150px + 300px + 16px + 300px + 150px;

    // grid config
    display: grid;
    grid-template:
      400px 150px /
      150px 300px 16px 300px 150px;

    .sail.left {
        justify-self: end;
        margin: .5em .5em 0 0;
    }

    .sail.right {
        justify-self: start;
        margin: .5em 0 0 .5em;
    }

}

// Display a boat (colors etc)
.grid-fixed.boat-container {
    .mast, .hull {
        background-color: $colorHull;
      }

      .sail.left {
        @include triangleBottomRight(
          $color: $colorSail,
          $height: 320px,
          $width: 250px
        )
      }

      .sail.right {
        @include triangleBottomLeft(
          $color: $colorSail,
          $height: 320px,
          $width: 150px
        )
      }

      .hull.left {
        @include triangleTopRight(
          $color: $colorHull,
          $height: 150px,
          $width: 150px
        );
      }

      .hull.right {
        @include triangleTopLeft(
          $color: $colorHull,
          $height: 150px,
          $width: 150px
        )
      }
}
