<!-- You think style in the code is dirty ? Not so much, take a look at the DOM ;) -->
<style>
markdown.content {
        font-size: 1.5rem;
        font-weight: bold;
}
</style>
<markdown class="content" ngPreserveWhitespaces>
        ## Summary
        ---

        1. Some dead simple theory
        1. With a dead simple exemple
        1. You can easily arange fixed size elements
        1. With awesome areas
        1. And we can have dynamic sized elements too
        1. Some bonus
</markdown>